<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel ="stylesheet" type="text/css" href="app.component.css" />
    <link rel ="stylesheet" type="text/css" href="css/rwd1.css" />
    <link rel ="stylesheet" type="text/css" href="css/rwd2.css" />
    <title>Galería Karloman Villota - Inicio</title>
    <img src = "https://via.placeholder.com/150"/>
    <h1>Bienvenidos a Galeria Karloman</h1>
  </head>
  <body>
    <nav id="Menu">
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="./Obras.html">Obras</a>
        </li>
        <li>
          <a href="./Noticias.html">Noticias</a>
        </li>
        <li>
          <a href="./Quienes-Somos.html">¿Quiénes somos?</a>
        </li>
        <li>
          <a href="./Contactos.html">Contáctenos</a>
        </li>
      </ul>
      <form>
        <input type="text" name="buscar" value="Buscar">
      </form>
    </nav>
      <img width="300" alt="Autor: Karloman Villota" src="./Image/autor.jpg">
    </div>
    <h2>Estos link son tutoriales pilas, pero los mejores en youtube XD: </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
  </body>
